## Linear Discriminant Analysis

In [1]:
feature_dict = {i: label for i,label in zip(
                range(4),
                ('sepal length in cm',
                 'sepal width in cm',
                 'petal lenght in cm',
                 'petal width in cm'))}

In [2]:
import pandas as pd

df = pd.io.parsers.read_csv(
    filepath_or_buffer='https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',
    header=None,
    sep=',')

In [3]:
df.columns = [l for i,l in sorted(feature_dict.items())] + ['class label']
df.dropna(how='all',inplace=True)

In [4]:
df.tail()

,sepal length in cm,sepal width in cm,petal lenght in cm,petal width in cm,class label
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [9]:
from sklearn.preprocessing import LabelEncoder

X = df.values
y = df['class label'].values

encoder = LabelEncoder()
label_encoder = encoder.fit(y)
y = label_encoder.transform(y) + 1

label_dict = {1: 'Setosa', 2: 'Versicolor', 3: 'Virginica'}