### Operations on Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
rng = np.random.RandomState(42)
series = pd.Series(rng.randint(0,12,4))
series

0     6
1     3
2    10
3     7
dtype: int64

In [3]:
df = pd.DataFrame(rng.randint(0,10,(3,4)),columns=['A','B','C','D'])
df

   A  B  C  D
0  4  6  9  2
1  6  7  4  3
2  7  7  2  5

In [5]:
value = np.array([1,None,2,3])
value

array([1, None, 2, 3], dtype=object)

In [8]:
data = pd.Series([1,2,np.nan,3,None])

In [9]:
data

0    1.0
1    2.0
2    NaN
3    3.0
4    NaN
dtype: float64

In [10]:
data.isnull()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [12]:
data[data.notnull()]

0    1.0
1    2.0
3    3.0
dtype: float64

In [13]:
data.dropna()

0    1.0
1    2.0
3    3.0
dtype: float64

In [14]:
data = pd.Series([1,2,np.nan,3,None])

In [15]:
data.fillna(0)

0    1.0
1    2.0
2    0.0
3    3.0
4    0.0
dtype: float64