## Pandas Objects

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.Series([1,2,3,4,5,6])
data

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
data.values,data.index

(array([1, 2, 3, 4, 5, 6]), RangeIndex(start=0, stop=6, step=1))

In [4]:
data = pd.Series([1,2,3,4,5,6], index=['a','b','c','d','e','f'])

In [5]:
data

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [7]:
dictionary = {'Name': 'Kumar Ujjawal',
               'Course': 'Data Science',
                'Country': 'India'}
details = pd.Series(dictionary)
details

Country            India
Course      Data Science
Name       Kumar Ujjawal
dtype: object

In [9]:
student = pd.DataFrame({'Details': details})
student

               Details
Country          India
Course    Data Science
Name     Kumar Ujjawal

In [10]:
student.columns

Index([u'Details'], dtype='object')

In [12]:
'Country' in student

False

In [13]:
data = pd.Series([1,2,3,4,5,6], index=['a','b','c','d','e','f'])
data

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [14]:
'a' in data

True

In [15]:
data['a':'c']

a    1
b    2
c    3
dtype: int64

In [19]:
data[(data < 4) & (data > 1)]

b    2
c    3
dtype: int64

In [21]:
data[1:4]

b    2
c    3
d    4
dtype: int64

In [23]:
data.iloc[2:3]

c    3
dtype: int64

In [24]:
data.iloc[0:3]

a    1
b    2
c    3
dtype: int64